{% extends "base.html" %}
{% load static %}

{% block content %}


  <div class="container" >


      <h1>Create a Book Entry</h1>
      <h4>Following book images are already uploaded [1984, Atlas Shrugged, Diary of a Wimpy Kid, Girrafe Cant Dance, goodnight Moon, Quiet, the Alchemist, The Brief History of Time, The Fountainhead, The Most Magnificent Things]</h4>
    <br/>
      <form action="{% url 'insertbook'%}" method="post" >
        {% csrf_token %}
    Title: <input type="text" name="booktitle" id="booktitle" value="">
          Author: <input type="text" name="bookauthor" id="bookauthor" value="">
          <label for="bookrating">Rating:</label>

<select name="bookrating" id="bookrating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
    <option value="5">5</option>
</select>

<input type="submit" value="Create">
</form>
<hr/>
<br/>
      <br/>
    
</div>

{% endblock %}
