{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" >
      <img src="{% static 'bookstore.jpg'%}" style="width:300px">
    </a>
    <h1>Welcome to Lily's Book Store</h1>
    <p>This is a Book store application based on Python, Django and PostgresSQL, deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="createbook"><span class="glyphicon glyphicon-plus"></span> Add a new book</a>
    <a type="button" class="btn btn-lg btn-primary" href="booklist"><span class="glyphicon glyphicon-list-alt"></span> View the book list</a>
  </div>
</div>
<div class="container">


  

</div>
{% endblock %}
